{{ define "header" }}
<title>{{ .X.Name }}</title>
<meta name="description" content="{{ .X.Description }}" />
{{ end }}

{{ define "body" }}
<h1 class="question">{{ .X.Name }}</h1>
<div id="box">
  <h2>{{ .X.Description }}</h2>
  {{ if .X.Ingredients }}
  <div>
    <h3>Ingredients:</h3>
    <ul>
      {{ range $item := .X.Ingredients }}
      <li>
        {{ if $item.List }} {{ $item.Item }}:
        <ul>
          {{ range $nestedItem := $item.List }}
          <li>{{ $nestedItem.Item }}</li>
          {{ end }}
        </ul>
        {{ else }} {{ $item.Item }}
        {{ end }}
      </li>
      {{ end }}
    </ul>
  </div>
  {{ end }}
  {{ if .X.Steps }}
  <div>
    <h3>Steps:</h3>
    <ol>
      {{ range $item := .X.Steps }}
      <li>
        {{ if $item.List }} {{ $item.Item }}:
        <ol>
          {{ range $nestedItem := $item.List }}
          <li>{{ $nestedItem.Item }}</li>
          {{ end }}
        </ol>
        {{ else }} {{ $item.Item }}
        {{ end }}
      </li>
      {{ end }}
    </ol>
  </div>
  {{ end }}
  {{ if .X.Notes }}
  <div>
    <h3>Notes:</h3>
    <ul>
      {{ range $item := .X.Notes }}
      <li>{{ $item }}</li>
      {{ end }}
    </ul>
  </div>
  {{ end }}
  <p><a href="/">Back</a></p>
</div>
{{ end }}
